In [2]:
name = "aniket"
print(f"my name is {name}")

my name is aniket

In [3]:
print("hey {} my name is{}".format("aman","aniket"))

hey aman my name isaniket

In [5]:
print("hey {1} my name is {0}".format("aman","aniket"))

hey aniket my name is aman

In [6]:
address="""b35 basant bahar
gopalpura"""
print(address)

b35 basant bahar
gopalpura

In [9]:
y = 10
y/=3
print(y)

3.3333333333333335

In [11]:
x = 20
x += 20
print(x)

40

In [13]:
# membership operator (iterable)
"aj" in "japan"

False

In [14]:
"aj"  not in "japan"

True

In [15]:
# intiger are not iterable
#12 in  123 X

TypeError: argument of type 'int' is not iterable

In [22]:
x = 500
print(id(x))

2573497066736

In [23]:
y=500
print(id(y))

2573497067632

In [27]:
age=25
if(age==18):
   print("adult")
elif(age==25):
    print("young")
else:
    print("child")

young

In [35]:
n = int(input("enter the number"))
if n>0 or n<0:
   print("integer")
elif n==0:
   print("neutral")

enter the number 7

integer

In [38]:
n = int(input("enter the number"))
if n>0:
    print("+ve")
elif n<0:
    print("-ve")
elif n==0:
    print("neutral")

enter the number 6

+ve

In [39]:
n = int(input("enter the number"))
n1 = int(input("enter the number"))
if n>n1:
    print("n1 is max")
elif n1<n:
    print('n is max')

enter the number 45
enter the number 34

n1 is max

In [43]:
n = int(input("enter the n number"))
n1 = int(input("enter the n1 number"))
n2 = int(input("enter the n2 number"))
if n<n1 and n<n2:
    print("n is min")
elif n1<n and n1<n2:
    print("n1 is min")
elif n3<n and n3<n:
    print("n3")

enter the n number 2
enter the n1 number 32
enter the n2 number 4

n is min

In [45]:
n = int(input("enter the n number"))
if n%2==0:
    print("even num")
else:
    print("odd")

enter the n number 5

odd

In [53]:
age = int(input("enter the n number"))
if age >= 18 and age <= 26:
    print("young")
elif age >= 26 and age <= 65:
    print("senior")

enter the n number 45

senior