In [21]:
fact=1
n=5
for i in range(1,n+1):
  fact=fact*i
print(fact)

120

In [ ]:
fact=145
i=1
while n>=i:
    fact=fact%10
    r=fact//10
    fact

In [4]:
num=153
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+digit**3
    temp=temp//10
    print(sum)
if num==sum:
    print("armstrong")
else:
    print("not")

27
152
153
armstrong

In [10]:
#nested loop
for i in range(1,4):
    print("hey",i)

    for j in range(13,15):
        print("helo",j)

hey 1
helo 13
helo 14
hey 2
helo 13
helo 14
hey 3
helo 13
helo 14

In [13]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [18]:
for i in range(2,6):
    for j in range(1,11):
        print(i*j)

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [25]:
fact=1

for i in range(1,6):
  fact=fact*i
print(fact)

120

In [29]:

for i in range(1,11):
    for j in range(1,i+1):
        if (i%j==0):
            print("factor",i)

factor 1
factor 2
factor 2
factor 3
factor 3
factor 4
factor 4
factor 4
factor 5
factor 5
factor 6
factor 6
factor 6
factor 6
factor 7
factor 7
factor 8
factor 8
factor 8
factor 8
factor 9
factor 9
factor 9
factor 10
factor 10
factor 10
factor 10

In [43]:
sum=0
for i in range(1,100):
    digit=i%10
    sum=sum+digit**3
    i=i//10
    print(sum)

1
9
36
100
225
441
784
1296
2025
2025
2026
2034
2061
2125
2250
2466
2809
3321
4050
4050
4051
4059
4086
4150
4275
4491
4834
5346
6075
6075
6076
6084
6111
6175
6300
6516
6859
7371
8100
8100
8101
8109
8136
8200
8325
8541
8884
9396
10125
10125
10126
10134
10161
10225
10350
10566
10909
11421
12150
12150
12151
12159
12186
12250
12375
12591
12934
13446
14175
14175
14176
14184
14211
14275
14400
14616
14959
15471
16200
16200
16201
16209
16236
16300
16425
16641
16984
17496
18225
18225
18226
18234
18261
18325
18450
18666
19009
19521
20250

In [52]:
#pattern
for i in range(1,5):
    for j in range(1,5):
        if j==1 or j==4 or i==1 or i==4 : 
            print("*",end="")
        else:
            print(' ',end="")
    print()

****
*  *
*  *
****